/*calculaton*/

.calc-project {
    width: 400px;
    background: #ddd;
    border: 2px solid #999;
    text-align: center;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
    margin: 80px auto;
    background-image: url(https://images.all-free-download.com/images/graphicthumb/blue_abstract_background_310971.jpg);
}

.calc-project h2, .calc-display,.calc-keys {flex: 1;display: block;width: 100%;}

.calc-project h2 {
    text-align: center;
    text-transform: uppercase;
}
.calc-project h2 span {
    font-size: 50%;
    text-transform: none;
}

.calc-display {
    display: flex;
    flex-direction: column;
}

.calc-display textarea, .calc-display button {
    width: 80%;
    margin: 0 auto;
}

.calc-display button {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #007ACC;
    color: #fff;
    font-size: 30px;
}

.calc-display {
    position: relative;
}

.calc-display h1 {
    position: absolute;
    bottom: 0;
    left: 10%;
    background: #000;
    margin: auto;
    color: #fff;
    width: 80%;
    transition: .7s;
}


.calc-display textarea {
    height: 100px;
    resize: none;
    padding: 0;
    font-size: 30px;
    font-weight: bold;
}

.calc-number button,.calc-sign button {
    padding: 10px;
    margin-top: 10px;
    background: #007ACC;
    color: #fff;
    font-size: 20px;
    border: 1px solid #fff;
}
.calc-sign {
    display: flex;
    justify-content: space-evenly;
}

.calc-sign button {
    flex-basis: 20%;
}

.calc-keys {
    width: 80%;
    margin: 0 auto;
}

.calc-number button {
    flex-basis: 33%;
}

.calc-number {
    display: flex;
    flex-wrap: wrap;
}

.calc-number button#clear {
    flex-basis: 66%;
}
